<div class="container">
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-xs-4">
        <div class="card">
          <div class="card-header">
            <h3><%= flat.name %></h3>
          </div>
          <div class="card-description">
            <p><%= flat.description %></p>
          </div>
          <div class="card-details">
            <%= flat.number_of_guests %>
            £<%= flat.price_per_night %>
          </div>
          <div class="card-footer">
            <%= link_to flat_path(flat) do %>
              <i class="fas fa-pencil-alt"></i>
            <% end %> |
            <%= link_to flat_path(flat), method: :destroy do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



